/* CSS for title page */

.animate-cloud {
  animation-name: animate-cloud;
  animation-duration: 5000ms;
  animation-timing-function: ease-in-out;
}

@keyframes animate-cloud {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll-cloud {
  animation-name: scroll-cloud;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll-cloud) * -1s);
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes scroll-cloud {
  0% {
    opacity: 10%;
    scale: 50%;
  }
  40% {
    opacity: 100%;
    scale: 100%;
  }
  100% {
    opacity: 0%;
    scale: 50%;
  }
}

.animate-pulse {
  animation: pulse 1.3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
