@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

html,
body {
  height: 100%;
  background-color: white;
}

div#__next {
  @apply h-full;
}

@layer utilities {
}

/* Remove outline text inputs on mobile iOS and Safrai */
*:focus:not(.focus-visible) {
  outline: none;
}
